# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

blog.yaml

# 模块依赖锁文件
go.sum
# 版本控制文件
.svn
.git/
# ide 配置文件
.idea
# 日志文件
storage/logs/